.wellcome_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fcfdf6;
}
.title_text {
  margin-bottom: 15px;
  width: 370px;
  height: 100px;
  background-color: #dfc6e3d8;
  border-bottom: #d3beccd7 solid 13px;
  border-left: #d3beccd7 solid 10px;
  border-right: #d3beccd7 solid 10px;
  box-shadow: 1px 1px 5px #00000049;
}
.wellcome_image {
  width: 450px;
  height: 450px;
}
@media screen and (max-width: 768px) {
  .wellcome_image {
    display: none;
  }
  .wellcome_container {
    background-image: url("../../public/imgDama.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
  }
  .text {
    background-color: rgba(231, 212, 225, 0.475);
    font-weight: 500;
  }
}
.wellcome_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 450px;
  color: #8b6c5b;
}
.courses_container {
  background-color: #fbfbfb;
  padding: 5%;
}
.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 0.5fr));
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.courses_container_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.courses_title {
  color: #d8c881;
  padding: 20px;
}
/* CARD INDUMENTARI */
.indumentari_container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.container_cards_indumentari {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card_indumentari {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 300px;
  gap: 10px;
}
.card_indumentari_image {
  width: 100%;
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card_indumentari_conteiner_title_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card_indumentari_title {
  color: #d8c881;
}
.card_indumentari_button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  color: black;
  border: #d7d6d6 solid 1px;
}
.card_indumentari_button:hover {
  cursor: pointer;
  background-color: #eacffa;
  color: white;
}
@media screen and (max-width: 768px) {
  .container_cards_indumentari {
    flex-direction: column;
  }
  .card_indumentari_conteiner_title_button {
    position: absolute;
    bottom: 30px;
    right: 20px;
  }
  .card_indumentari {
    position: relative;
  }
  .card_indumentari_button {
    background-color: #eacffa;
    color: white;
  }
  .card_indumentari_conteiner_title_button {
    display: flex;
    justify-content: right;
    align-items: flex-end;
  }
  .card_indumentari_title {
    text-shadow: rgba(31, 28, 11, 0.595) 1px 1px 5px;
  }
}/* 
.container_card_Links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card_image_link {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: auto;
  flex: 1 1 45%;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_image_link:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card_image_link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  filter: drop-shadow(10px 10px 10px #00000049);
}

.card_image_link_text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #e4cee7db; 
  color: #9e699d; 
  font-size: 1.5rem;
  font-weight: bold;
  
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.431);
  text-align: center;
  
  border-left: solid 5px  #9e699db4;
  border-right: solid 5px  #9e699db4;
  
  border-bottom: solid 5px  #9e699db4;
}

@media (max-width: 768px) {
  .card_image_link {
    flex: 1 1 100%;
  }
}
 */
 .container_card_Links{
  
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
  position: relative;
}
@media (max-width: 768px) {
  .container_card_Links {
    flex-direction: column;
  }
}

.card_image_link {
  position: relative;
  width: 100%;
  height: auto;
  flex: 1 1 45%;
  cursor: pointer;
  padding-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease
 }

.card_image_link img:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.card_image_link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  filter: drop-shadow(10px 10px 10px #00000049);
}
.card_image_link_text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #e4cee7db; 
  text-shadow: rgba(31, 28, 11, 0.595) 1px 1px 2px;
  color: #9e699d; 
  color: #d4b44c;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.431);
  text-align: center;
  border-left: solid 10px  #9e699db4;
  border-right: solid 10px  #9e699db4;
  border-bottom: solid 10px  #9e699db4;
}
